@import "variables";

.product-category, .unitary-value{
    color: $font-color-tertiary;
    font-size: 14px;
}

.total-value{
    font-size: 14px;
    color: $font-color-secondary;
}

.product-name{
    color: $font-color-secondary;
    font-weight: 700;
}

.product-price{
    font-weight: 600;
}

.product-container{
    margin: 20px;
    text-align: center;
    height: 300px;
    width: 200px;
}

.product-information{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    margin-top: 35px;
}

.product-img{
    position: relative;
}

.product-img img{
    align-self: center;
    border-radius: 10px;
    height: 200px;
    
}

.cart-button{
    border: 1px, rgb(54, 54, 54), solid;
    color: hsl(14, 65%, 9%);;
    border-radius: 50px;
    background-color: white;
    padding: 14px 35px;
    transform: translate(-50%);
    width: 170px;
    position: absolute;
    top: 175px;
    cursor: pointer;
    display: inline-block;
}

.product-container h1, .product-name-cart, .order-total h2{
    color: $font-color-secondary;
}

.your-cart{
    background-color: white;
    margin: 20px;
    width: 200px;
    height: 400px;
    border-radius: 10px;
}

.cart-count{
    font-weight: 700;
    padding: 20px 10px;
}
.order-total{
    padding: 10px;
    gap: 40px
}
.products-in-cart > *{
    padding: 10px;
    
}
.products-in-cart{
    border-bottom: 2px $gray-color-details solid;
}

.container, .order-total{
    display: flex;
}