@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Red Hat Text";
    src: url(../..\assets\fonts\RedHatText-VariableFont_wght.ttf),
    format("truetype")
}

$font-color-primary: hsl(14, 86%, 42%);
$font-color-secondary: hsl(14, 65%, 9%);
$font-color-tertiary: hsl(7, 20%, 60%);
$gray-color-details: hsl(13, 31%, 94%);

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Red Hat Text", sans-serif;
    color: $font-color-primary;
    background-color: hsl(13, 31%, 94%);
}


.fa-cart-plus{
    color: $font-color-primary;
}


.product-category, .unitary-value{
    color: $font-color-tertiary;
    font-size: 14px;
}

.total-value{
    font-size: 14px;
    color: $font-color-secondary;
}

.product-name, h1{
    color: $font-color-secondary;
    font-weight: 700;
}

.product-price{
    font-weight: 600;
}

.button{
    border: 1px, rgb(54, 54, 54), solid;
    color: hsl(14, 65%, 9%);;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: white;
    transform: translate(-50%, 50%);
    width: 170px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    cursor: pointer;
    font-family: inherit;
}

#your-cart{
    background-color: white;
    margin: 20px;
    width: 200px;
    height: 400px;
    border-radius: 10px;
}

.cart-count{
    font-weight: 700;
    padding: 20px 10px;
}
.order-total{
    padding: 10px;
    gap: 40px
}
.products-in-cart > *{
    padding: 10px;
    
}
.products-in-cart{
    border-bottom: 2px $gray-color-details solid;
}

